<% content_for :header_tags do %>
	<%= stylesheet_link_tag :single_auth, :plugin => 'single_auth'  %>
<% end %>

<h2><%=l(:http_auth_h2_ref) %></h2>

<h3><%=l(:http_auth_h3_add) %> <%=  %></h3>

<%= labelled_form_for @ldapgroup do |f| %>
	<%= error_messages_for 'ldapgroup' %>

	<div class="box tabular">	
	<p><%= f.select :group_id, @Groups.collect {|t| [t.name, t.id]}, :required => true, :include_blank => true %></p>
    <p><%= f.select :ldap_group_name, @ldap_groups_for_redmine, :required => true, :include_blank => true  %></p>	
	</div>

	<%= submit_tag l(:button_save) %>
<% end %>




<h3><%=l(:http_auth_h3_list) %></h3>
<table class="list" id="ldapgroups">
<tr>
<th><%= l(:field_group) %></th>
<th><%= l(:field_ldap_group_name) %></th>
<th></th>
</tr>

<% name="" %>
<% css_class="odd" %>

<% for ldapgroup in @ldap_groups %>
  <% if(ldapgroup.group.name!=name) %>
  <% css_class=cycle('odd', 'even') %>
  <% end %>
  
  <tr class="<%= css_class %>">  
	<td>
	<% if(ldapgroup.group.name!=name) %>
		<% name=ldapgroup.group.name %>
		<%=h ldapgroup.group.name %>		
	<% end %>
	</td>	  
    <td><%=h @ldap_groups_for_redmine.find{|e| e[1]==ldapgroup.ldap_group_name}[0] %></td>	
	<td><%= link_to l(:http_auth_delete), ldapgroup, :confirm => l(:http_auth_delete_quest), :method => :delete %></td>
  </tr>
<% end %>
</table>