
<!-- <h2><%=l(:label_enter_sms_code)%></h2> -->

<%= error_messages_for 'user' %>

<div id="sms-form">
  <%= form_tag(sms_code_path) do %>
    <%= hidden_field_tag 'token', @token.value %>
    <p>
      <%= l(:label_sms_code_sent) %>
    </p>
    <p style="text-align: right;">
      <label for="sms_code"><%=l(:label_enter_sms_code)%>:</label>
      <%= text_field_tag 'sms_code', nil, :size => 40 %>
    </p>
    <p style="text-align: right;">
      <span><%= l(:label_sms_seconds_left) %> <strong id="sms-counter"><%= @time_left.round %></strong> <%= l(:label_seconds) %></span>
      <%= submit_tag l(:label_login) %>
    </p>
    <%= link_to l(:label_generate_new_sms_code), sms_code_path(:token => @token.value), {:id => 'new-sms-code', :style => 'display: none;'} %>
  <% end %>
</div>

<% debug_mode = Setting.plugin_single_auth[:enable_sms_debug_mode] || false %>
<% if debug_mode %>
  <p>Ваш токен: <%= @token.value %></p>
  <p>Время создания секретного кода: <%= @user.otp_time %></p>
  <p><%= l(:label_sms_message, :code => @user.otp_code) %></p>
<% end %>